--- 
layout: default 
---
<section class="home-section-contact">
    {% include home/section-contact.html %}
</section>

<!-- ******JUMBOTRON****** -->
<section class="home-section-jumbotron" id="p-jumbotron">
    {% include home/section-jumbotron.html %}
</section>

<!-- ******INTRO****** -->
<section class="home-section-intro">
    {% include home/section-intro.html %}
</section>

<!-- ******ABOUT****** -->
<section class="home-section-about" id="p-about">
        {% include home/section-about.html %}
    </section>

<!-- ******RECOMENDATION****** -->
<section class="home-section-recomendation">
    {% include home/section-recomendation.html %}
</section>

<!-- ******SERVICE****** -->
<section class="home-section-service" id="p-service">
    {% include home/section-service.html %}
</section>

