<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
        aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <span class="navbar-brand">
        <a href="/">datntz:0</a>
    </span>
</div>
<div id="navbar" class="navbar-collapse collapse">
    <div style="min-height: 100vh">
        <div class="navbar-brand-lcs">
            <br>
            <br>
            <br>
            <a href="/">datntz:0</a>
        </div>
        <br>
        <br>
        <ul class="p-navigator">
            <li>
                <a href="/#p-jumbotron">Jumbotron</a>
            </li>
            <li>
                <a href="/#p-about">About</a>
            </li>

            <li>
                <a href="/#p-service">Service</a>
            </li>
            <li>
                <a href="/#p-getintouch">Get In Touch</a>
            </li>
        </ul>
        <br>
        <br>
        <ul class="p-navigator">
            <li>
                <a href="/post.html">Post</a>
            </li>
            <li>
                <a href="/product.html">Product</a>
            </li>
            <li>
                <a href="/repository.html">Repository</a>
            </li>
        </ul>
        <br>
        <br>
        <ul class="social-link">
            <li>
                <a href="">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-github-square" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="fa fa-youtube-square" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>