.product-section-category{
    display: block;

    ul.block{
        margin: 0;
        padding: 0;
        background-color: #f5f5f5;
        width: 100%;

        li{
            display: inline-block;
            list-style: none;
            padding: 15px;
            border-bottom: 1px solid #fdfdfd;
            text-align: justify;

            img{
                width: 100%;
            }
        }
    }

    
}