--- 
layout: default 
title: Post 
permalink: /post.html 
---

<!-- ******CATEGORY****** -->
<section class="post-section-category">
    {% include post/section-category.html %}
</section>

<!-- ******ARCHIVE****** -->
<section class="post-section-archive">
    <div class="col-sm-5 updated-list">
        {% include post/section-archive.html %}
    </div>
    <div class="col-sm-7 fixed-list">
        <div class="block">
            {% include post/section-seri.html %}
        </div>
        <br>
        <div class="block">
            <h4>Recommend for Business</h4>
            <div class="col-sm-5">
                <img src="assets/raw/2-sections/4business.jpg" alt="">
            </div>
            <div class="col-sm-7">
                <ul>
                    <li>
                        <a href="">1</a>
                    </li>
                    <li>
                        <a href="">1</a>
                    </li>
                    <li>
                        <a href="">1</a>
                    </li>
                    <li>
                        <a href="">1</a>
                    </li>
                    <li>
                        <a href="">1</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>