---
layout: default
title: About
permalink: /about.html
---
<!-- ******ME****** -->
<section class="about-section-me" >
    {% include about/section-me.html %}
</section>

<!-- ******EXPERIENCE****** -->
<section class="about-section-experience" >
    {% include about/section-experience.html %}
</section>

<!-- ******EDUCATION****** -->
<section class="about-section-education" >
    {% include about/section-education.html %}
</section>

<!-- ******SKILL****** -->
<section class="about-section-skill" >
    {% include about/section-skill.html %}
</section>

<!-- ******PORTFOLIO****** -->
<section class="about-section-portfolio" >
    {% include about/section-portfolio.html %}
</section>

<!-- ******CONTACT****** -->
<section class="about-section-contact" >
    {% include about/section-contact.html %}
</section>

<!-- ******RECOMMENDATION****** -->
<section class="about-section-recommendation" >
    {% include about/section-recommendation.html %}
</section>