<div class="container-fluid">
    <div class="row">
            <br>
            <br>
            <br>
            <div class="col-sm-4 avarta">
                <div class="outer-frame">
                    <div class="inner-frame">
                        <img src="/assets/raw/2-sections/3.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <br>
                <br>
        
                <p class="full-name">NGUYỄN TIẾN ĐẠT</p>
                <P class="title">Project Leader at IVS Co., Ltd</P>
                <br>
                <p class="location">Ho Chi Minh City, Vietnam</p>
                <p class="subject">INFORMATION TECHNOLOGY &AMP; SERVICES</p>
                <br>
                <br>
                <P class="previous"><strong>Previous:</strong> Senior Developer, Solution Architecture</P>
            </div>
    </div>
    <div class="row personal">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"></div>
    </div>
</div>