<div class="contact-bar">
    <div class="col-sm-5">
        <ul>
            <li>
                <a href="/#p-footer">
                    <i class="fa fa-angle-right" aria-hidden="true"></i> Get in touch</a>
            </li>
        </ul>
    </div>
    <div class="col-sm-7">

    </div>
</div>
<div style="clear: both"></div>
<div class="top-bar">
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
        <ul>
            <li>
                <a href="">TECHNOLOGY</a>
            </li>
            <li>
                <a href="">MINDSET</a>
            </li>
            <li>
                <a href="">SOLUTION</a>
            </li>
            <li>
                <a href="">OTHERS</a>
            </li>
        </ul>
    </div>
</div>