<div id="services" class="container-fluid text-center">
    <div class="row product-block">
        <div class="col-sm-8">
            <br>   
            <div class="s-title text-center">
                <strong>Service</strong> what I created</div>
            <div class="col-sm-4">
                <br>
                <span class="glyphicon glyphicon-wrench logo-small"></span>
                <h4 style="color:#303030;">HARD WORK</h4>
                <br>
                <p>
                    <strong>Hard work</strong> is above and beyond—and it’s the only thing that will push I above and beyond.
                </p>
                <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i>
                    <strong>Hard work</strong> is what you do on top of all that. It’s what you do after you’ve put in your eight
                    hours, after you’ve kept all your appointments and followed through on all your promises.
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                </p>
            </div>

            <div class="col-sm-4">
                <br>
                <span class="glyphicon glyphicon-leaf logo-small"></span>
                <h4>PRODUCTS</h4>
                <br>
                <p>That's the way I show my output to the life.</p>
                <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i> Your product will prove your value. To Increase Your Value, Think about your product —and make it
                    better every day.
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                </p>
            </div>
            <div class="col-sm-4">
                <br>
                <span class="glyphicon glyphicon-certificate logo-small"></span>
                <h4>REPOSITORY</h4>
                <br>
                <p>It's just a collection for learning from the past; getting in touch with the world and sharing to people.
                </p>
                <p>
                    <i class="fa fa-quote-left" aria-hidden="true"></i> Before beginning what you want, let think about finish what you begin.
                    <i class="fa fa-quote-right" aria-hidden="true"></i>
                </p>
            </div>
        </div>
        <div class="col-sm-4" style="background-color: #fff;">
            <img width="100%" src="/assets/raw/2-sections/assistant.jpg" alt="">
            <img width="100%" src="/assets/raw/2-sections/header-slogan.png" alt="">
        </div>
    </div>
    <br>
</div>